@import url('fontawesome-free-5.15.2-web/css/fontawesome.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #7578b2;
    background: url('img/topbar_bg.png');
    height: 32px;
    font: 11px tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    cursor: default;
}

.header h1{
    color: #e5e6f1;
    font-size: 12px;
}

.user{
    display: flex;
    color: #e5e6f1;
    font-size: 11px;
}

.user p{
    margin: 7px 20px 0 0;
}

.user button{
    width: 33px;
    margin-right: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    height: 28px;
    display: grid;
    place-items: center;
    background: 0;
    outline: 0;
}

.hot{
    position: absolute;
    background: white;
    height: 36px;
    width: 120px;
    left: -87px;
    display: none;
    top: 30px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.8);
    font: 11px tahoma;
}

.klavish{
    text-align: left;
    padding: 2px 4px;
    margin:0 0 2px 0;
}

.klavish:hover{
    background: #3D3D9A;
    color: white;
}

.user button:hover{
    background-color: rgba(255,255,255,0.3);
}

button.settings{
    /* background: url('img/user-menu-settings.png') no-repeat;
    background-size: contain; */
    position: relative;
}

button.settings:hover .hot{
    display: block;
}

button.exit{
    margin-top: 1px;
    margin-right: 2px;
}


.sbms{
    display: flex;
    flex: 100%;
}

.left-menu{
    height: 725px;
    background: #F6F5FD;
    flex: 14%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-arrow-color: #8586ac;
	scrollbar-highlight-color: #edeefb;
	scrollbar-face-color: #dadbf6;
	scrollbar-shadow-color: #dadbf6;
	scrollbar-darkshadow-color: #8688bd;
	scrollbar-base-color: #c0bfe6;
    font: 12px tahoma, arial, sans-serif;
}

.left-menu::-webkit-scrollbar-track {
	background-color: transparent;	
}

.left-menu::-webkit-scrollbar {
	width: 17px;
	background: #f6f5fd;
    /*background: #f6f5fd url(images/scrollbar_bg.png) repeat-y left; comment coz no image*/
    border-left: 1px solid #b4b4d6;
    border-right: 1px solid #b4b4d6;
}

.left-menu::-webkit-scrollbar-thumb {	
	background:#dadbf6;
	border: 1px solid #c0bfe6;
	border-right-color: #8688bd;
	box-shadow:inset 1px 1px #fff;
}

.client{
    background: url('img/menu-item-folder-opened.png') no-repeat;
    background-position-y: 3px;
    background-color: #DFDFF7;
    color: #1e1e5d;
    padding: 5px 18px;
    border-bottom: 1px solid #c0bfe6;
    border-top: 1px solid #c0bfe6;
    cursor: pointer;
}

.client:hover{
    background-color: #e6e6fa;
}

.asd{
    border-bottom: 1px solid #E4E4F0;
    font-size: 11px;
    cursor: pointer;
    padding: 3px 0 3px 30px;
}

.asd:hover{
    background: #fefefe;
}

.asd:active{
    background: #3D3D9A;
    color: white;
}

.center{
    background: #EFEEFB;
    flex: 86%;
    border-left: 1px solid #8080A4;
    margin-left: 6px;
    font: 11px tahoma, arial, sans-serif;
}

.com-form{
    background: #EEEEF5;
    padding: 6px 10px 0;
    color: #333270;
    font-weight: bold;
}

.login{
    display: flex;
    border-top: 1px solid #BFBFD6;
    border-bottom: 1px solid #BFBFD6;
    background: #E5E3F6;
    padding: 6px 10px;
    margin-top: 5px;
}

.login select{
    width: 137px;
    height: 22px;
    outline: 0;
    border: 1px solid #AEAED0;
    font-size: 11px;
    background: transparent;
    text-overflow: ellipsis;
}

.login input{
    width: 196px;
    outline: 0;
    border: 1px solid #8080A5;
    padding: 0 3px;
    font-size: 11px;
}

.search{
    display: flex;
}

.loop{
    width: 20px;
    height: 20px;
}

.podrob{
    width: 15px;
    height: 20px;
}

.press{
    width: 75px;
    height: 22px;
    background: #6E71AC;
    border: 1px solid #57578c;
    font: 12px tahoma, verdana, arial, sans-serif;
    color: white;
    display: grid;
    user-select: none;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.clear{
    margin-left: 6px;
}

.press:active{
    transform: scale(.96);
}

.data{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 12px;
    font: 11px tahoma, arial, sans-serif;
}

.left-data{
    height: 333.5px;
    width: 560px;
    border: 1px solid #8080a4;
}

.right-data{
    width: 560px;
    height: 397px;
    margin-left: 10px;
    border: 1px solid #8080A4;
}

.bottom-data{
    height: 137px;
    border: 1px solid #8080a4;
    width: 560px;
    margin-top: -50px;
}

.dannie{
    background: #E7E4F6;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #C1C1D6;
    justify-content: space-between;
    padding: 9px 14px 10px;
}

.link{
    display: flex;
    flex-wrap: wrap;
}

.link a{
    color: #2f2aba;
    margin: 0 3px;
}

.link a:hover{
    color: #0000ee;
    text-decoration: none;
}

.client-data{
    display: flex;
    text-overflow: ellipsis;
    width: 100%;
    flex-wrap: wrap;
    background: #f0effa;
    border: 1px solid #C1C1D6;
    cursor: default;
}

.client-left{
    background: #e6e4f6;
    width: 160px;
    padding: 2.5px 5px;
    text-align: right;
}

.client-right{
    padding: 2.5px 5px;
}

.balance{
    display: flex;
    justify-content: space-between;
    background-color: #babae0;
    background: url('img/1.png');
    border-radius: 2px;
    padding: 3px 12px;
    margin-top: 1px;
}

.balance a{
    color: #2f2aba;
}

.lleft{
    width: 190px;
}

.bln{
    display: flex;
}

.status{
    width: 10px;
    height: 10px;
    background: #6e9fd2;
    border: 1px solid #555;
    margin: 2.3px 4px 0;
}

.comment{
    height: 62px;
    border-bottom: 0;
}

.background{
    position: absolute;
    height: 755px;
    width: 100%;
    background: url('img/glasspane_background.gif');
    top: 0;
    display: none;
    place-items: center;
    font: 11px tahoma, arial, sans-serif;
}

.nomerlar{
    width: 900px;
    height: 250px;
    background: #EFEEFB;
    border: 1px solid #57578C;
}

.abonenty{
    background: #6E71AC;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 3px 5px 3px 6px;
    margin-bottom: 5px;
    user-select: none;
}

.close{
    height: 12px;
    width: 12px;
    display: grid;
    place-items: center;
    font-weight: bold;
    user-select: none;
    background: white;
    color: black;
    cursor: pointer;
}

.close:active{
    transform: scale(.96);
}

b.flex{
    color: #3d3c78;
    margin-left: 5px;
    user-select: none;
}

.flex span{
    color: black;
}

.spiska{
    background: white;
    margin: 15px 6px 0;
}

.statuslar{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #9999cc;
    height: 27px;
    user-select: none;
    background: #efeefb;
    align-items: center;
}

.img{
    display: flex;
    margin: 0 9px;
    cursor: pointer;
}

.img:active{
    transform: scale(.93);
}

.img img{
    height: 16px;
    width: 16px;
}

.img span{
    margin-left: 4px;
    margin-top: 1px;
}

.statuslar p{
    margin-left: 565px;
    color: #8886c0;
}

.nomidegi-nomerlar{
    height: 91px;
    border: 1px solid #9999cc;
    margin-top: 8px;
}

.numbers{
    display: flex;
    background: #f6f5fd;
}

.num-header{
    width: 10px;
    height: 18px;
}

.tepa{
    border-bottom: 1px solid #9999cc;
    border-right: 1px solid #9999cc;
    /* background: #f6f5fd; */
    color: #3d3c7b;
    padding: 1px 3px 0 4px;
}

.standard{
    width: 85px;
}

.nomer{
    width: 391px;
}

.numeraciya{
    width: 105px;
}

.stat{
    width: 125px;
}

.zone{
    width: 105px;
}

.tplan{
    width: 150px;
}

.numbers span{
    color: black;
}

.nuw{
    user-select: none;
}

.nuw:active .tepa span{
    color: white;
}

.key{
    margin: 40px 0 0 350px;
    display: flex;
}